html {
	scroll-behavior: smooth;
	scroll-padding-top: 2em;
}

body {
	position: relative;
}
.link {
	text-decoration: none;
	color: #17262b;
}

.the-blur {
	background: rgba(255, 255, 255, 0.9) !important;
	z-index: 1000;
}
@supports (
	(-webkit-backdrop-filter: blur(10px) saturate(125%)) or
		(backdrop-filter: blur(10px) saturate(125%))
) {
	.the-blur {
		background: rgba(255, 255, 255, 0.2) !important;
		-webkit-backdrop-filter: blur(10px) saturate(125%);
		backdrop-filter: blur(10px) saturate(125%);
	}
}

@media only screen and (max-width: 400px) {
	#home {
		padding-top: 70px !important;
	}
}

@media only screen and (max-width: 600px) {
	.hero-img {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.hero-img > img {
		box-shadow: none !important;
	}
}
